{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<title>website template</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel='stylesheet' href="{% static 'css/myapp.css' %}">
</head>
<body>
<div id='toolbar'>
<svg id='toolbarsvg' width='600' height='150'>
<a href="{% url 'hello' %}"><svg id='logo' width='400' height='150'  viewBox='50 30 350 150'><polygon id='head' points='80,150 50,120 40,112.5 50,105 55,100 67,91 75,88.75 85,88.75 93,91 105,100 110,105 120,112.5 110,120 80,150' style='fill:orange; stroke:orange; stroke-width:1' /><polygon id='leftear' points='50,50 50,105 55,100 70,100'     style='fill:orange; stroke:orange; stroke-width:1' /><polygon id='rightear' points='90,100 105,100 110,105 110,50' style='fill:orange; stroke:orange; stroke-width:1' /><path d='M 80 150 L 75 145 L 85 145 Z' style='fill:black; stroke:black; stroke-width:1' /><text id='logotext' x='110.7' y='145' fill='white' textLength='79%' font-size='50'>FOX NEWS</text></svg></a>
<svg id='menu' x='840' y='0' ><rect id='menurect' height='150' width='160' fill='rgb(38, 38, 122)' /><rect id='middleline' x='60' y='80' width='35' height='5' fill='white' /><rect id='topline' x='60' y='65' width='35' height='5' fill='white' /><rect id='bottomline' x='60' y='95' width='35' height='5' fill='white' /></svg><svg id='newmenu' width='160' height='150' x='840' y='0' display='none'><rect height='150' width='160' fill='rgb(38, 38, 122)' /><circle cx='80' cy='82.5' r='25' style='fill: white' /><line x1='72.5' y1='90' x2='87.5' y2='75' style=' stroke:rgb(38, 38, 122); stroke-width:5' /><line x1='87.5' y1='90' x2='72.5' y2='75' style=' stroke: rgb(38, 38, 122) ; stroke-width:5 '/></svg><line x1='0' y1='0' x2='1000' y2='0' style='stroke:rgb(175, 26, 25); stroke-width:11' /></svg>
<svg id='dropdown' width='100%' height='600' style='background-color: rgb(38, 38, 122) ; display:none; ' ><line x1='0' y1='0' x2='100%' y2='0' style='stroke:rgb(70, 70, 133);  stroke-width: 5 ' />
<g transform='translate(0, 20)'><text fill='white'>
<tspan x='60' y='100' font-size='50' >U.S.</tspan>
<tspan x='60' y='145' font-size='22.5'><a href="{% url 'CatPage' cat='Crime' %}">Crime</a></tspan>
<tspan x='60' y='185' font-size='22.5'><a href="{% url 'CatPage' cat='Education' %}">Education</a></tspan>
<a href="{% url 'CatPage' cat='Immigration' %}"><tspan x='60' y='225' font-size='22.5'>Immigration</tspan></a>
<tspan x='60' y='290' font-size='50'><a href="{% url 'subcat' Subcategory='World' %}">World</a></tspan>
<tspan x='60' y='330' font-size='22.5'><a href="{% url 'CatPage' cat='Conflicts' %}">Conflicts</a></tspan>
<tspan x='60' y='370' font-size='22.5'><a href="{% url 'CatPage' cat='Disaster' %}">Disaster</a></tspan>
<tspan x='60' y='410' font-size='22.5'><a href="{% url 'CatPage' cat='environmemt' %}">Environment</a></tspan>
<tspan x='60' y='450' font-size='22.5'><a href="{% url 'CatPage' cat='Religion' %}">Religion</a></tspan>
<tspan x='60' y='490' font-size='22.5'><a href="{% url 'CatPage' cat='Scandals' %}">Scandals</a></tspan>
<tspan x='500' y='100' font-size='50'>Opinion</tspan>
<tspan x='500' y='190' font-size='50' >Entertainment</tspan>
<tspan x='500' y='235' font-size='22.5'><a href="{% url 'CatPage' cat='Music News' %}">Music News</a></tspan>
<tspan x='500' y='280' font-size='22.5'><a href="{% url 'CatPage' cat='Celebrity News' %}">Celebrity News</a></tspan>
<tspan x='500' y='350' font-size='50'>Science</tspan>
<tspan x='500' y='395' font-size='22.5'><a href="{% url 'CatPage' cat='Archeology' %}">Archeology</a></tspan>
<tspan x='500' y='440' font-size='22.5'><a href="{% url 'CatPage' cat='Wild Nature' %}">Wild Nature</a></tspan>
<tspan x='500' y='485' font-size='22.5'><a href="{% url 'CatPage' cat='Natural Science' %}">Natural Science</a></tspan>
<tspan x='500' y='530' font-size='22.5'><a fill='white'  href="{% url 'post_new' %}">Make New Shit</a></tspan></text></g></svg>
</div>
<div>
{% block content %}
{% endblock %}
</div>
</body>
<script src="{% static 'js/myapp.js' %}"></script>
</html> 
