{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<div class='post'>
<img  style="width:100%;height:600px;object-fit:cover;object-position:20% 41%;" src="/media/{{ post.upload }}">
<p id='categories' style='font-weight:bold;color:rgb(38,38,102);font-size:140%;text-align:left;margin-left:40px;margin-bottom:0px;padding-top:30px;'>Written by: <a style='color:rgb(73,118,173);'>{{ post.author }}</a><label style='padding-left:10px;'>Contributions by: <a style='color:rgb(73,118,173);' >{% for contributer in post.contributers.all %}{{ contributer }}, {% endfor %}</a></label><label style='padding-left:10px;'>Last edited: <a style='color:rgb(73,118,173);' >{{ post.lastedit }}</a></label><a style='color:rgb(73,118,173);' href="{% url 'CatPage' cat=post.category %}"> {{post.category}}</a><a style='color:rgb(73,118,173);padding-left:10px;' href="{% url 'subcat' Subcategory=post.subcategory %}">{{post.subcategory}}</a></p>
<p id='title' style='margin-top:0px;padding-top:0px;line-height:100%;'>{{ post.title }}</p>
<p id='text'>{{post.Text}}</p>
<p id='text'>{{post.b}}</p>
<p id='text'>{{post.c}}</p>
<p id='text'>{{post.d}}</p>
<p id='text'>{{post.e}}</p>
<p id='text'>{{post.f}}</p>
<p id='text'>{{post.g}}</p>
<p id='text'>{{post.h}}</p>
<p id='text'>{{post.i}}</p>
<p id='text'>{{post.j}}</p>
<p id='text'>{{post.k}}</p>
<p id='text'>{{post.l}}</p>
<p id='text'>{{post.m}}</p>
<a href="{% url 'CatPage' cat=post.category %}"> {{ post.category}}</a>
<p id='subcategory'><a href="{% url 'subcat' Subcategory=post.subcategory %}">{{post.subcategory}}</p></a>
</div>
{% if user.is_authenticated %}
<label><a style='text-align:right;' href="{% url 'postedit' PK=post.pk %}"><p style='border-style:solid;background-color:rgb(38,38,122);color:white;padding:20px;padding-left:120px;padding-right:120px;margin-top:100px;border-radius:100px;font-weight:bold;font-size:400%;'>Edit Post</p></label></a>
{% endif %}
{% endblock %}
