{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}


<div class='post'>
 <p id='title' style='font-size:130px;margin-left:40px;margin-right:40px;text-align:center;margin-top:80px;padding-top:0px;line-height:100%;'>{{ post.title }}</p>
 <p id='categories' style='font-weight:bold;color:rgb(38,38,102);font-size:170%;text-align:center;margin-left:40px;margin-bottom:50px;padding-top:30px;'>Written by: 
  <a style='color:rgb(73,118,173);'>{{ post.author }} </a><br>
  Contributions by: <a style='color:rgb(73,118,173);' >{% for contributer in post.contributers.all %}{{ contributer }}, {% endfor %}</a>
  <br>
  <a style='color:rgb(73,118,173);' href="{% url 'CatPage' cat=post.category %}"> {{post.category}}</a>
  <a style='color:rgb(73,118,173);padding-left:10px;' href="{% url 'subcat' Subcategory=post.subcategory %}">{{post.subcategory}}</a>
 </p>
 <img  style="width:100%;height:600px;object-fit:cover;object-position:20% 41%;" src="/media/{{ post.upload }}">
 <p id='textbox' style='margin-top:200px;'>{{post.Text}}</p>
 <p id='textbox'>{{post.b}}</p>
 <p id='textbox'>{{post.c}}</p>
 <p id='textbox'>{{post.d}}</p>
 <p id='textbox'>{{post.e}}</p>
 <p id='textbox'>{{post.f}}</p>
 <p id='textbox'>{{post.g}}</p>
 <p id='textbox'>{{post.h}}</p>
 <p id='textbox'>{{post.i}}</p>
 <p id='textbox'>{{post.j}}</p>
 <p id='textbox'>{{post.k}}</p>
 <p id='textbox'>{{post.l}}</p>
 <p id='textbox'>{{post.m}}</p>
</div>
<label style='margin-left:40px;'>Published: <a style='color:rgb(73,118,173);' >{{ post.published_date }}</a></label><br>
<label style='margin-left:40px;'>Last Edited: <a style='color:rgb(73,118,173);' >{{ post.lastedit }}</a></label><br>

{% if user.is_authenticated %}
<label>
 <a style='text-align:right;' href="{% url 'postedit' PK=post.pk %}">
  <p style='border-style:solid;background-color:rgb(38,38,122);color:white;padding:20px;padding-left:120px;padding-right:120px;margin-top:100px;border-radius:100px;font-weight:bold;font-size:400%;'>Edit Post</p>
 </a>
</label>
{% endif %}

{% endblock %}
