{% extends 'myapp/base.html' %}
{% block content %}
<div style='margin-left:100px;margin-right:110px;'>
<p style='text-align:center;font-size:575%;margin-top:50px;margin-bottom:50px;font-weight:bold;'>Create Account</p>
<h><form method='POST'>
{% csrf_token %}
{% for field in form %}
<p id='text'>{{ field.label_tag }}</p><br>
<p id='text'>{{ field }}</p><br>
{% endfor %}
<label style='width:100%;'><input type='submit' style='display:none;'/><p style='font-size:350%;border-style:solid;background-color:rgb(38,38,122);color:white;padding:20px;padding-left:210px;padding-right:210px;margin-top:100px;border-radius:100px;'>Create Account</p></label>
</form></div>
{% endblock %}
