#toolbarsvg {background-color: rgb(38, 38, 122); width:100%; display:flex;}
#logo{display:flex;}
#content {text-align: center;}
h1 {font-size: 100px;}
body {margin:0;}
.post {text-align:center;}
#title {font-size:100px;}
a {fill:white;}
#subcategory {font-size: 50px;}
#text {font-size: 50px;}
h {font-size: 50px;}
